<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Scoring</title>
    <link rel="icon" href="http://10.0.0.42/static/images/favicon.ico">
    <style>
      body {
        background-color: black;
      }
    </style>
  </head>
  <body>
	  <div style="font-size: 50px; color: white; position: absolute; width: 100%; top: 10%; left: 50%; text-align: center; transform: translateX(-50%);">
	  <h1>Scoring</h1>
	  Welcome to Scoring.
	  <br>
	  There are two teams.
	  <br>
	  Every 5 minutes, a team scores.
	  <br>
	  Both teams score each inning.
	  <br>
	  After 6 rounds of scoring, the game stops.
	  <br>
	  The team with the most points wins.
	  <br>
	  The two boxes in the middle are the teams points.
	  <br>
	  The number in the middle is the countdown for the next score.
	  <br>
	  The circles in the bottom represent the inning.
	  </div>
  </body>
</html>
